
<!DOCTYPE html>
<html ng-app="studentRoster">
  <head>
    <title>
      Student Roster App</title>
      <script src="lib/angular.js"></script>
      <script src="app.js"></script>
      <script src="js/studentController.js"></script>
      <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>

  </head>
  <body>
    <div class="container" ng-controller="StudentsCtrl">
      <div class="row">
        <div class="col-md-12">
          <h3>List of Students:</h3>
          <ul>
            <li ng-repeat="item in students">
              {{item.name}}
            </li>
          </ul>
        </div>


      <div class="col-md-4">
        <h2>New Student</h2>
        <form ng-submit ="addStudent()" class="form-inline" role="form">
          <div class="form-group">
            <input type="text" ng-model="studentName" class="form-control">
          </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Search Student</h4>
          <form class="form-inline" role="form">
          <div class ="form-group">
            <input ng-model="query" type="text" class="form-control">
          </div>
        </form>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <h3>List of Students:</h3>
        </div>
      <div class="col-md-12">
        <ul>
          <li ng-repeat="item in students | filter:query">
            <span ng-click="editing = true" ng-hide="editing">
              {{item.name}} <a ng-click="deleteStudent(item)">Delete</a>
            </span>
            <span class="form-group" ng-show="editing" ng-submit="editing = false">
              <form class="form-inline" role="form">
                <input type="text" class="form-control input-sm" ng-model="item.name" required/>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
